* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color-title);
}

button {
  cursor: pointer;
  background-color: var(--color-button);
  color: var(--text-color-button);
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
}

button:hover {
  background-color: var(--color-button-hover);
}

input {
  background-color: var(--color-background-input);
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

.Page {
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
}
