@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Revalia&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --font-family: "Roboto", sans-serif;

  --font-size-header: 1.125rem;
  --font-size-default-intro: 1.25rem;

  --color-background: #ffffff;
  --color-footer: #373737;
  --color-button: #373737;
  --color-button-hover: #565656;
  --color-reviews-item: #f6de00;
  --color-background-input: #efefef;

  --text-color-title: #000000;
  --text-color-subtitle: #373737;
  --text-color-paragrpah: #696161;
  --text-color-intro-elements: #ffffff;
  --text-color-footer: #ffffff;
  --text-color-button: #ffffff;

  --intro-blur-item-filter: blur(0.9rem);
}

@media (max-width: 768px) {
  :root {
    --font-size-header: 1rem;
    --font-size-default-intro: 1.125rem;
  }
}
